.hero {
  // margin-top: 100px;
  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__btn {
    display: flex;
    min-width: 300px;
    justify-content: space-around;
  }

  @include media-min("medium-up") {
    margin-top: 160px;
  }
}