.nav {
  // height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

  &__logo {
    color: $quaternary-color;
    transition: 400ms;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8rem;
    &::before {
      content: '<';
      font-family: 'Poppins', sans-serif;
    }
    &::after {
      content: '/>';
      font-family: 'Poppins', sans-serif;
    }
    &:hover {
      color: $tertiary-color;
    }
  }

  &__menu {
    position: fixed;
    bottom: 1rem;
    background-color: $tertiary-color-8;
    width: 280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__item {
    & > button {
      color: $text-color;
      font-size: 1.25rem;
      padding: 0.4rem;
      display: flex;
      border-radius: 5rem;
      border: none;
      background-color: unset;
      cursor: pointer;

      &:hover {
        background: linear-gradient(180deg,
              $gradian-color-light,
              $gradian-color-dark            
        );
        box-shadow: 0 0 16px $gradian-color-dark;
      }
    }
  }
}

// .active-link {
//   background: linear-gradient(180deg,
//               $gradian-color-light,
//               $gradian-color-dark            
//   );
//   box-shadow: 0 0 16px $gradian-color-dark;
// }