.card {
  background: $secondary-color;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 13px;
  padding: 20px 10px;
  margin: 0 10px;
  @include media-min("small-down") {
    max-width: 400px;
    margin: 0 auto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 280px - 20px;
  }

  &-link {
    margin-top: 5px;
    color: $quaternary-color;
    transition: all 400ms;

    &:hover {
      transform: translateX(10px);
      color: $tertiary-color;
    }
  }

  &--contact {
    gap: 0;
    @include media-min("medium-up") {
      min-width: auto;
    }
  }
  & > i {
    color: $quaternary-color;
  }
}