/* colors */
$primary-color: rgba(26, 44, 68, 1);
$secondary-color: rgba(105, 50, 55, 1);
$tertiary-color: rgba(218, 96, 38, 1);
$quaternary-color: rgba(254, 156, 55, 1);

$tertiary-color-8: rgba(218, 96, 38, 0.6);

$gradian-color-light: rgba(254, 156, 55, 1);
$gradian-color-dark: rgba(218, 96, 38, 0.2);

$text-color: rgba(255, 255, 255, 1);

/* media query */
$breakpoints : (
    "small-down": 425px,
    "medium-up": 768px,
    "medium-down": 1024px,
    "large-up": 1024px,
    "huge-down": 1440px,
);