h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

span, p, h2, h4 {
  font-size: 0.8rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: $quaternary-color;
}
h4 {
  font-weight: 600;
}

.text {
  
  &--xs {
    font-size: 0.6rem;
  }
  &--sm {
    font-size: 0.8rem;
  }
  &--md {
    font-size: 1rem;
  }
}